.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  gap: 20px;
}

.item {
  background-color: rgb(255, 0, 0);
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  text-align: center;
  padding: 10px;
}

#box1 {
  grid-column: 1 / 4;
}

#box3 {
  grid-row: span 3;
}

#box9 {
  grid-column: 1 / 4;
}

/*  Tablet (<= 900px)  */
@media (max-width: 768px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }

  #box1,
  #box9 {
    grid-column: 1 / 3;
  }

  #box3 {
    grid-row: span 2;
  }

  .item {
    font-size: 24px;
  }
}

/*  Mobile <= 600*/
@media (max-width: 600px) {
  .grid_container {
    grid-template-columns: 1fr;
  }

  #box1,
  #box3,
  #box9 {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .item {
    font-size: 20px;
    min-height: 120px;
  }
}
