.box_relative {
  position: relative;
  width: 200px;
  height: 200px;
  left: 200px;
  background-color: blueviolet;
}
.box1 {
  position: fixed;

  width: 100px;
  height: 100px;
  background-color: orange;
}
