h1 {
  font-size: 30px;
  color: #e70a0a;
  font-weight: bold;
  font-style: italic;
  text-decoration: overline;
  text-decoration: underline;
}
.test1 p {
  font-size: 16px;
  color: #547792;
  line-height: 1.5;
  text-align: center;
  line-height: 6;
}

h2 {
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1a73e8;
}
.test2 p {
  text-transform: uppercase;
  text-align: center;
  /* margin-left: 20px; */
  font-style: oblique;
  text-decoration: line-through;
  border: 2px dotted black;
  margin-bottom: 20px;
}
h4 {
  /* font-size: 30px; */
  color: #34a853;
  border: 2px solid black;
  /* margin-top: 90px; */
  line-height: 500px;
  padding: 50px;
}
h4:hover {
  background-image: url(img1.jpeg);
  color: white;
  cursor: cell;
  background-size: 300px 200px; /* contain | cover | 100px 100px */
  background-position: center; /* top | left | center */
  background-repeat: no-repeat;
  color: white;
  cursor: pointer;
}
